@import "tailwindcss";

@theme {
  --color-lightblue: #eaf6ff;
  --color-strongblue: #1e90ff;
  --color-medblue: #63b8ff;
}

@font-face {
  font-family: "3270";
  src: url("/fonts/3270NerdFontMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.nerd-font {
  font-family: "3270", monospace;
}