---
import "../styles/global.css";
import Navbar from "../components/navbar.astro";
import Footer from "../components/footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="../styles/global.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ant</title>
  </head>
  <body class="bg-lightblue">
    <header>
      <header>
        <Navbar />
      </header>
    </header>

    <main class="max-w-4xl mx-auto p-6 text-strongblue nerd-font">
      <h1 class="text-5xl mb-5 text-black font-bold">/hobbies</h1>
      <p class="text-7xl">Hobbies page.</p>
    </main>

    <footer>
      <Footer />
    </footer>
  </body>
</html>
