---
import "../styles/global.css";
import BaseLayout from "../components/BaseLayout.astro";
import NowPlaying from "../components/NowPlaying.svelte";
---

<BaseLayout title="/hobbies">
  <section class="mt-6 mb-6" id="title">
    <h1 class="text-5xl text-black font-bold">/hobbies</h1>
  </section>

  <section class="mt-6 mb-6 flex flex-col gap-10">
    <div
      class="border-strongblue border-2 rounded-lg p-2 h-60 flex justify-center"
      id="hobby1"
    >
      WIP
    </div>
    <div
      class="border-strongblue border-2 rounded-lg p-2 h-60 flex justify-center"
      id="hobby2"
    >
      <iframe src="" frameborder="0" allowfullscreen></iframe>
    </div>
    <div
      class="group border-strongblue border-2 rounded-lg p-4 flex flex-row hover:bg-strongblue"
      id="hobby3"
    >
      <NowPlaying client:idle />
    </div>
  </section>

  <script is:inline>
    function runAnimation() {
      const elements = [
        document.getElementById("hobby1"),
        document.getElementById("hobby2"),
        document.getElementById("hobby3"),
      ];

      elements.forEach((el, index) => {
        if (el) {
          el.style.opacity = "0";
          el.style.transform = "translateY(20px)";
          setTimeout(() => {
            el.style.transition =
              "opacity 0.6s ease-out, transform 0.6s ease-out, background-color 0.150s ease";
            el.style.opacity = "1";
            el.style.transform = "translateY(0)";
          }, index * 500);
        }
      });
    }

    runAnimation();

    document.addEventListener("astro:after-swap", runAnimation);
  </script>
</BaseLayout>
