---
import "../styles/global.css";
import BaseLayout from "../components/BaseLayout.astro";
---

<BaseLayout title="/projects">
  <section class="mt-6 mb-6">
    <h1 class="text-5xl text-black font-bold">/projects</h1>
  </section>

  <section class="mt-6 mb-6 flex justify-center gap-4 flex-wrap">
    <a
      href="https://github.com/Anthony42540/GatorFieldNotebook"
      target="_blank"
      id="project1"
      class="project-card"
    >
      <img
        src="https://github-readme-stats.vercel.app/api/pin/?username=Anthony42540&repo=GatorFieldNotebook"
        alt="GatorFieldNotebook GitHub Repo"
        class="w-full object-cover rounded-2xl shadow-lg hover:scale-105 transition-transform overflow-hidden"
      />
    </a>

    <a
      href="https://github.com/Anthony42540/GatorGather"
      target="_blank"
      id="project2"
      class="project-card"
    >
      <img
        src="https://github-readme-stats.vercel.app/api/pin/?username=Anthony42540&repo=GatorGather"
        alt="GatorGather GitHub Repo"
        class="w-full object-cover rounded-2xl shadow-lg hover:scale-105 transition-transform overflow-hidden"
      />
    </a>
    <a
      href="https://github.com/Anthony42540/RecordRackDSA"
      target="_blank"
      id="project3"
      class="project-card"
    >
      <img
        src="https://github-readme-stats.vercel.app/api/pin/?username=Anthony42540&repo=RecordRackDSA"
        alt="RecordRackDSA GitHub Repo"
        class="w-full object-cover rounded-2xl shadow-lg hover:scale-105 transition-transform overflow-hidden"
      />
    </a>
    <a
      href="https://github.com/Anthony42540/personalWebsite"
      target="_blank"
      id="project4"
      class="project-card"
    >
      <img
        src="https://github-readme-stats.vercel.app/api/pin/?username=Anthony42540&repo=personalWebsite"
        alt="personalWebsite GitHub Repo"
        class="w-full object-cover rounded-2xl shadow-lg hover:scale-105 transition-transform overflow-hidden"
      />
    </a>
  </section>
  
  <script>
    function runAnimation() {
      const elements = [
        document.getElementById("project1"),
        document.getElementById("project2"),
        document.getElementById("project3"),
        document.getElementById("project4"),
      ];

      elements.forEach((el, index) => {
        if (el) {
          el.style.opacity = "0";
          el.style.transform = "translateY(20px)";
          setTimeout(() => {
            el.style.opacity = "1";
            el.style.transform = "translateY(0)";
          }, index * 500);
        }
      });
    }

    runAnimation();

    document.addEventListener("astro:after-swap", runAnimation);
  </script>
</BaseLayout>
