---
import Navbar from "./Navbar.astro";
import Footer from "./Footer.astro";
import { ViewTransitions } from "astro:transitions";
const { title } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-lightblue">
    <ViewTransitions />
    <header>
      <Navbar />
    </header>

    <main class="max-w-4xl mx-auto p-6 text-strongblue nerd-font">
      <slot />
    </main>

    <footer>
      <Footer />
    </footer>
  </body>
</html>