<div class="max-w-4xl mx-auto p-6">
  <div class="flex justify-center gap-6">
    <a
      href="https://www.linkedin.com/in/antdavila/"
      target="_blank"
      rel="noopener noreferrer"
      class="relative group w-12 h-12"
    >
      <div
        class="absolute inset-0 w-full h-full opacity-0 transition-opacity duration-300 group-hover:opacity-100 bg-strongblue rounded-lg transition"
      >
        <img src="/icons8-linkedin-hover.svg" alt="Linkedin Link" />
      </div>
      <img
        class="absolute inset-0 w-full h-full transition-opacity duration-300 group-hover:opacity-0"
        src="/icons8-linkedin.svg"
        alt="Linkedin Link"
      />
    </a>
    <a
      href="https://github.com/Anthony42540"
      target="_blank"
      rel="noopener noreferrer"
      class="relative group w-12 h-12"
    >
      <div
        class="absolute inset-0 w-full h-full opacity-0 transition-opacity duration-300 group-hover:opacity-100 bg-strongblue rounded-full transition"
      >
        <img src="/icons8-github-hover.svg" alt="Github Link" />
      </div>
      <img
        class="absolute inset-0 w-full h-full transition-opacity duration-300 group-hover:opacity-0"
        src="/icons8-github.svg"
        alt="Github Link"
      />
    </a>
    <a
      href="/AnthonyDavila_Resume.pdf"
      target="_blank"
      rel="noopener noreferrer"
      class="relative group w-12 h-12"
    >
      <div
        class="absolute inset-0 w-full h-full opacity-0 transition-opacity duration-300 group-hover:opacity-100 bg-strongblue rounded-lg transition"
      >
        <img src="/icons8-resume-hover.png" alt="Resume Link" />
      </div>
      <img
        class="absolute inset-0 w-full h-full transition-opacity duration-300 group-hover:opacity-0"
        src="/icons8-resume.png"
        alt="Resume Link"
      />
    </a>
  </div>
</div>
