<div class="max-w-4xl mx-auto p-6">
  <nav class="text-3xl nerd-font font-bold text-medblue flex justify-between">
    <a class="hover:bg-strongblue hover:text-white rounded-sm transition" href="/">~home</a>
    <a class="hover:bg-strongblue hover:text-white rounded-sm transition" href="/projects">/projects</a>
    <a class="hover:bg-strongblue hover:text-white rounded-sm transition" href="/hobbies">/hobbies</a>
    <a class="hover:bg-strongblue hover:text-white rounded-sm transition" href="/contact">/contact</a>
  </nav>
</div>