<nav class="max-w-4xl mx-auto px-6 py-6 text-3xl nerd-font font-bold text-medblue flex flex-wrap justify-between gap-2">
  <a class="hover:bg-strongblue hover:text-white rounded-sm transition" href="/">~home</a>
  <a class="hover:bg-strongblue hover:text-white rounded-sm transition" href="/projects">/projects</a>
  <a class="hover:bg-strongblue hover:text-white rounded-sm transition" href="/hobbies">/hobbies</a>
  <a class="hover:bg-strongblue hover:text-white rounded-sm transition" href="/contact">/contact</a>
</nav>